* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.container {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 5px;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 300px;
}

.input-box {
  display: flex;
  gap: 10px;
  position: relative;
  flex-direction: column;
}

.input-box label {
  color: #777;
}

.input-box input {
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.input-box input:focus {
  outline: none;
  border-color: #777777;
}

.input-box small {
  position: absolute;
  bottom: 0px;
  left: 0;
  visibility: hidden;
}

.error small {
  visibility: visible;
  color: red;
  transform: translateY(100%);
}

.error input {
  border-color: red;
}

.success input {
  border-color: #59c77a;
}

.error input:focus {
  border-color: red;
}

.success input:focus {
  border-color: #59c77a;
}

.form button {
  border: none;
  background-color: #4598d6;
  padding: 15px 0;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

